[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
yapf = "*"

[packages]
django = "==3"
djangorestframework = "*"

[requires]
python_version = "3.7"
